@page "/home"
@page "/"
<MudContainer Style="display: inline-block; position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 900px; height: 300px; margin: auto; ">
    <MudGrid>
        <MudItem>
            <MudText Typo="Typo.h2">
                <div class="pa-4 justify-center my-4 mud-text-align-center">This is a ChatAPP!</div>
            </MudText>
            <MudText Typo="Typo.subtitle1">
                <div class="pa-4 justify-center my-4 mud-text-align-center">Está realizado con Blazor WebAssembly en .NET 5. Integra SignalR, Identity-User y MudBlazor como libreria para la UI.</div>
            </MudText>
        </MudItem>
    </MudGrid>
</MudContainer>